.column-flex {
  flex-direction: column; }

.text-center {
  text-align: center; }

.flex-1 {
  flex: 1; }

.align-item-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.display-flex {
  display: flex; }

@media screen and (max-width: 992px) {
  body {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  body {
    font-size: 15px; } }

@media screen and (max-width: 375px) {
  body {
    font-size: 14px; } }

@media screen and (max-width: 320px) {
  body {
    font-size: 13.5px; } }

html {
  min-width: 100%;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  min-width: 100%;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  cursor: pointer; }

img {
  width: 400px;
  height: auto; }

.row {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.header .header-carousel {
  height: 80vh;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0); }
  .header .header-carousel #wbn-slider {
    position: relative;
    height: 80vh;
    overflow: hidden; }
  .header .header-carousel .wbn-slide {
    position: absolute;
    width: 100%;
    z-index: 500;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header-carousel .wbn-slide img {
      object-fit: cover; }
  .header .header-carousel .wbn-slide img {
    object-fit: cover;
    width: 100%;
    pointer-events: none; }
  .header .header-carousel .active {
    z-index: 1000; }
  .header .header-carousel .slideInLeft {
    animation-name: animateInLeft;
    z-index: 1000; }
  .header .header-carousel .slideInRight {
    animation-name: animateInRight;
    z-index: 1000; }
  .header .header-carousel .slideOutLeft {
    transform: translateX(-100%); }
  .header .header-carousel .slideOutRight {
    transform: translateX(100%); }

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animateInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }
  .header .header-carousel .wbn-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1001; }

.header .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5000;
  top: 0;
  left: 0;
  opacity: 0.8;
  pointer-events: none; }

.header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5001;
  color: white;
  animation-name: header-text;
  animation-duration: 2s;
  width: 90%; }
  .header .header-text button {
    padding: 10px 20px;
    margin: 20px 0;
    outline: none;
    background-color: #0c1241;
    color: white;
    font-size: 1.4rem;
    border-radius: 50px;
    position: relative;
    border: 2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .header .header-text button:hover {
    background-color: #1a1e41; }
  .header .header-text button:active {
    transform: translateY(10px); }

@keyframes width-big {
  0% {
    width: 0;
    height: 0; }
  100% {
    height: 110%;
    width: 120%; } }
  .header .header-text p {
    color: #b9b9b9; }
  .header .header-text h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    letter-spacing: .10em;
    /* Adjust as needed */
    font-size: 3.5rem;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase; }

.section-header {
  text-align: center;
  margin: 5% 0; }
  .section-header h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #151941; }
  .section-header p {
    color: #212529;
    font-size: 1rem; }

.introduction .section-header.animated {
  animation-name: come-from-top;
  animation-duration: 1s;
  transition: all 1s ease-in; }

.introduction .row {
  margin: 5% 0; }
  .introduction .row .acc-logo {
    height: 4rem;
    width: 4rem; }

.introduction .row:nth-child(2) .text-box {
  text-align: left;
  padding: 0 5%; }

.introduction-club {
  text-align: center; }

.introduction .img-box {
  position: relative; }
  .introduction .img-box .img-container {
    position: absolute;
    height: 15rem;
    width: 17rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in; }
    .introduction .img-box .img-container img {
      width: 100%;
      object-fit: cover; }
  .introduction .img-box .first {
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1; }
    .introduction .img-box .first:hover {
      top: 70%;
      left: 30%;
      transform: translate(-50%, -50%) scale(1.1);
      z-index: 4; }
  .introduction .img-box .second {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
    .introduction .img-box .second:hover {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
      z-index: 4; }
  .introduction .img-box .third {
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 1s ease-in-out; }
    .introduction .img-box .third:hover {
      top: 30%;
      left: 70%;
      transform: translate(-50%, -50%) scale(1.1);
      z-index: 4; }

.type-writer-span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }

@keyframes come-from-top {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.text-box h3 {
  color: #1a1e41;
  margin-bottom: 10px; }

.container {
  margin: 10px 5%;
  width: 90%; }

.sectors {
  padding: 5% 5%;
  background: #1a1e41; }
  .sectors .section-header {
    margin-top: 0;
    margin-bottom: 5%; }
    .sectors .section-header h2 {
      color: white; }
    .sectors .section-header p {
      color: grey; }
  .sectors .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232241;
    padding: 14px 10px;
    min-height: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .sectors .card h4 {
      color: #babfb7;
      margin: 10px 0; }
    .sectors .card p {
      color: grey; }
    .sectors .card-logo-container {
      height: 3.5rem;
      width: 3.5rem;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .sectors .card-logo {
      color: white;
      width: 2rem; }
  .sectors .row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px; }

.our-team {
  background-color: #50c240; }
  .our-team p {
    color: #dbdbdb; }
  .our-team .section-header {
    margin: 0;
    padding: 5% 8%; }
    .our-team .section-header h2 {
      color: white; }
    .our-team .section-header p {
      color: #f7f7f7; }
  .our-team .row {
    margin-bottom: 5%;
    padding: 0 10%; }
  .our-team .number-row {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }
    .our-team .number-row p {
      border-right: 1px solid white;
      border-left: 1px solid white;
      padding: 10% 0;
      color: white;
      font-size: 2rem; }
      .our-team .number-row p:first-child {
        border-left: 2px solid white; }
      .our-team .number-row p:last-child {
        border-right: 2px solid white; }

@keyframes header-text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

nav {
  height: 10vh;
  background: white;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  nav .logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%; }
    nav .logo-container .logo-box {
      height: 3rem;
      width: 3rem;
      overflow: hidden;
      text-align: center;
      border-radius: 50%; }
      nav .logo-container .logo-box img {
        width: 100% !important; }
  nav .menu-container {
    flex: 1; }
    nav .menu-container .nav-links {
      display: flex;
      list-style: none;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      margin-left: auto; }
      nav .menu-container .nav-links ul {
        margin: 0;
        padding: 0; }
      nav .menu-container .nav-links li {
        position: relative;
        width: 7rem;
        text-align: center;
        padding: 10px 0; }
      nav .menu-container .nav-links li::after {
        position: absolute;
        content: "";
        width: 0;
        background-color: orangered;
        height: 3px;
        bottom: 0;
        right: 50%; }
      nav .menu-container .nav-links li::before {
        position: absolute;
        content: "";
        width: 0;
        background-color: #50078b;
        height: 3px;
        bottom: 0;
        left: 50%; }
      nav .menu-container .nav-links li:hover:before {
        width: 48%;
        left: 0;
        transition: all 0.4s ease-out;
        transform-style: revert; }
      nav .menu-container .nav-links li:hover:after {
        width: 48%;
        right: 0;
        transition: all 0.4s ease-out; }
      nav .menu-container .nav-links li a {
        color: black;
        text-decoration: none;
        font-size: 18px; }

@media screen and (max-width: 768px) {
  nav .menu-container .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(110px at 100% -5%);
    background-color: #5dc247;
    border: none;
    outline: none;
    z-index: 6000;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 1s ease-in-out; }
    nav .menu-container .nav-links li {
      opacity: 0;
      transition: all 1s ease-in; }
    nav .menu-container .nav-links li a {
      color: white;
      font-size: 20px;
      text-align: left; }
  nav .menu-container .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35px;
    position: fixed;
    z-index: 7000;
    top: 0;
    right: 35px;
    cursor: pointer; }
    nav .menu-container .hamburger .line {
      background-color: white;
      width: 22px;
      height: 2px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      transition: all 0.5s ease-in; }
    nav .menu-container .hamburger .line:nth-child(1) {
      top: 30%; }
    nav .menu-container .hamburger .line:nth-child(3) {
      top: 70%; }
  nav .menu-container .hamburger:hover .line {
    margin-bottom: 5px;
    transition: all .5s ease-in; }
  nav .menu-container .hamburger.open .line:nth-child(2) {
    opacity: 0; }
  nav .menu-container .hamburger.open .line:nth-child(1), nav .menu-container .hamburger.open .line:nth-child(3) {
    top: 50%; }
  nav .menu-container .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 30% -13px; }
  nav .menu-container .hamburger.open .line:nth-child(3) {
    transform: rotate(135deg);
    transform-origin: 5px -2px; }
  nav .menu-container .nav-links.open {
    clip-path: circle(1000px at 100% -5%);
    transition: all 1s ease-in-out; }
    nav .menu-container .nav-links.open li {
      opacity: 1; }
  .header .header-carousel {
    height: 50vh; }
    .header .header-carousel #wbn-slider {
      height: 50vh; }
    .header .header-carousel .wbn-slide {
      height: 50vh; }
  .header .header-text h1 {
    font-size: 3rem; }
  .header .header-text button {
    font-size: 1rem; }
  .introduction .img-box {
    min-height: 25rem; }
    .introduction .img-box .first {
      top: 60%; }
    .introduction .img-box .third {
      top: 40%; }
  .sectors {
    padding: 8% 5%; }
    .sectors .row {
      grid-template-columns: 50% 50%;
      grid-column-gap: 20px;
      grid-row-gap: 20px; }
  .our-team .row {
    padding: 0 5%; }
  .our-team .number-row {
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px; }
    .our-team .number-row p {
      font-size: 1.6rem; }
    .our-team .number-row p:nth-child(1) {
      border-right: 2px solid white; }
    .our-team .number-row p:nth-child(2) {
      border-right: 2px solid white; }
    .our-team .number-row p:nth-child(3) {
      border-left: 2px solid white;
      border-right: 2px solid white; } }

@media screen and (max-width: 425px) {
  .header .header-carousel {
    height: 40vh; }
    .header .header-carousel #wbn-slider {
      height: 40vh; }
    .header .header-carousel .wbn-slide {
      height: 40vh; }
  .header .header-text h1 {
    font-size: 1.5rem; }
  .introduction {
    margin-top: 15%; }
    .introduction .row:nth-child(2) .text-box {
      padding: 7% 2%; }
    .introduction .img-box {
      min-height: 20rem; }
      .introduction .img-box .img-container {
        width: 70%;
        height: 15rem; }
      .introduction .img-box .first, .introduction .img-box .second, .introduction .img-box .third {
        top: 50%;
        z-index: 1; }
      .introduction .img-box .second {
        z-index: 3;
        height: 16rem;
        transform: translate(-50%, -50%) scale(1.2);
        top: 47%;
        left: 50%; }
  .sectors .sectors {
    padding: 10% 5%; }
  .sectors .row {
    grid-template-columns: 90%;
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }

@media screen and (max-width: 375px) {
  .header .header-carousel {
    height: 40vh; }
    .header .header-carousel #wbn-slider {
      height: 40vh; }
    .header .header-carousel .wbn-slide {
      height: 40vh; }
  .header .header-text h1 {
    font-size: 1.3rem; }
  .introduction .img-box {
    min-height: 17rem; } }

#form {
  display: block; }

.form-group {
  margin-bottom: 1rem; }

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:focus {
  border: 1px solid #313131; }

textarea.form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto; }

label.label {
  display: inline-block;
  margin-bottom: 0.5rem; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none; } }

.btn:hover {
  color: #212529;
  text-decoration: none; }

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc; }

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }
