@import "util";

html {
  min-width: 100%;
  overflow-x: hidden;
}


body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  min-width: 100%;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

button{
  cursor: pointer;
}

