@import "util";

$text-header-color: white;
$text-secondary-color: #b9b9b9;

$font-size : 17px;

@include tablet{
  body{
    font-size: 16px;
  }
}

@include small-tab{
  body{
    font-size: 15px;
  }
}

@include mid-phone{
  body{
    font-size: 14px;
  }
}

@include sml-phone{
  body{
    font-size: 13.5px;
  }
}

html {
  min-width: 100%;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark{
  --bg: black;
}

.light{
  --bg: white;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: $font-size;
  font-weight: 400;
  min-width: 100%;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

button{
  cursor: pointer;
}
button:focus{
  outline: none;
}
// Testing Purpose Only
img{
  width: 400px;
  height: auto;
}

.row{
  @include row-flex;
  @include small-tab{
      @include column-flex;
      @include justify-center;
  }
}

.header{
  .header-carousel{
    height: 80vh;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
    // Carousel
    #wbn-slider {
      position: relative;
      height: 80vh;
      overflow: hidden;
    }
    .wbn-slide {
      position: absolute;
      width: 100%;
      z-index: 500;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        object-fit: cover;
      }
    }

    .wbn-slide img {
      object-fit: cover;
      width: 100%;
      pointer-events: none;
    }

    .active {
      z-index: 1000;
    }

    .slideInLeft {
      animation-name: animateInLeft;
      z-index: 1000;
    }

    .slideInRight {
      animation-name: animateInRight;
      z-index: 1000;
    }

    .slideOutLeft {
      transform: translateX(-100%);
    }

    .slideOutRight {
      transform: translateX(100%);
    }

    @keyframes animateInLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    @keyframes animateInRight {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    .wbn-buttons {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1001;
    }

  }


  //mask
  .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5000;
    top: 0;
    left: 0;
    opacity: 0.8;
    pointer-events: none;
  }
  //header
  .header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5001;
    color: white;
    animation-name: header-text;
    animation-duration: 2s;
    width: 90%;

    button{
      padding: 10px 20px;
      margin: 20px 0;
      outline: none;
      background-color: #0c1241;
      color: white;
      font-size: 1.4rem;
      border-radius: 50px;
      position: relative;
      border: 2px solid grey;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    button:hover{
      background-color: #1a1e41;
    }
    button:active{
      transform: translateY(10px);

    }

    @keyframes width-big {
      0%{
        width: 0;
        height: 0;
      }
      100%{
        height: 110%;
        width: 120%;
      }
    }

    p{
      color: $text-secondary-color;
    }
    h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      letter-spacing: .10em; /* Adjust as needed */
      font-size: 3.5rem;
      color: $text-header-color;
      margin-bottom: 20px;
      text-transform: uppercase;

    }

  }

}

//Sections
.section-header{
  text-align: center;
  margin: 5% 0;
  h2{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #151941;
  }p{
    color: #212529;
    font-size: 1rem;
  }
}

.introduction{
  .section-header.animated{
    animation-name: come-from-top;
    animation-duration: 1s;
    transition: all 1s ease-in;
  }
  .row{
    margin: 5% 0;
    .acc-logo{
      height: 4rem;
      width: 4rem;
    }
  }
  .row:nth-child(2){
    .text-box{
      text-align: left;
      padding: 0 5%;
    }
  }

  &-club{
    text-align: center;
  }
  .img-box{
    position: relative;
    .img-container{
      position: absolute;
      height: 15rem;
      width: 17rem;
      cursor: pointer;
      @include display-flex;
      @include align-center;
      transition: all 0.5s ease-in;
      img{
        width: 100%;
        object-fit: cover;
      }
    }

    .first{
      top: 65%;
      left: 30%;
      transform: translate(-50%, -50%);
      z-index: 1;
      &:hover{
        top: 65%;
        left: 30%;
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 4;
      }
    }
    .second{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      &:hover{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 4;
      }
    }
    .third{
      top: 35%;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 3;
      transition: all 1s ease-in-out;
      &:hover{
        top: 45%;
        left: 70%;
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 4;
      }
    }

  }
}

.type-writer-span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes come-from-top {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.text-box{
  h3{
    color: #1a1e41;
    margin-bottom: 10px;
  }
  p{

  }
}

.container{
  margin: 10px 5%;
  width: 90%;

}

.sectors{
  animation-name: animate-sector;
  animation-duration: 1s;
  padding: 5% 5%;
  background: #1a1e41;
  .section-header{
    margin-top: 0;
    margin-bottom: 5%;

    h2{
      color: white;
    }
    p{
      color: grey;
    }
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #232241;
    padding: 14px 10px;
    min-height: 17rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    position: relative;
    h4{
      color: #babfb7;
      margin: 10px 0;
      z-index: 2;
    }
    p{
      color: grey;
      z-index: 2;
    }
    &-logo-container{
      height: 3.5rem;
      width: 3.5rem;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #0c1241;;
      z-index: 2;

    }
    &-logo{
      color: white;
      width: 2rem;
      z-index: 2;
    }
    &:hover{
      transform: scale(1.1);
      z-index: 4;
      h4{
        color: #0c1241;
      }
      p{
        color: #232241;
      }
      &-logo-container{
        border: 2px solid #0c1241;;
      }
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 0;
        z-index: 1;
        animation-name: height-100;
        animation-duration: 0.5s;

      }
      @keyframes height-100 {
        0%{
          height: 0;
        }
        100%{
          height: 100%;
        }
      }
    }


  }
  .row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;
  }

  @keyframes animate-sector {

    0%{
      transform: translateY(15px) scale(0.9);
      opacity: 0;
    }

    100%{
      transform: translateY(0) scale(1);
      opacity: 1;
    }

  }
}
.our-team{
  background-color: #37C151;
  p{
    color: #dbdbdb;
  }
  .section-header{
    margin: 0;
    padding: 5% 8%;
    h2{
      color: white;
    }
    p{
      color: #f7f7f7;
    }
  }
  .row{
    margin-bottom: 5%;
    padding: 0 10%;
  }
  .number-row{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    p{
      border-right: 1px solid white;
      border-left: 1px solid white;
      padding: 10% 0;
      color: white;
      font-size: 2rem;
      &:first-child{
        border-left: 2px solid white;
      }
      &:last-child{
        border-right: 2px solid white;
      }
    }
  }
  .button-box{
    margin: 5% 0;
    display: flex;
    justify-content: space-evenly;
    button{
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        width: 9rem;
        font-size: 1rem;
        transition: all 0.4s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 3.5rem;
        color: #212529;
        font-weight: 500;
        background-color: cornsilk;
    }
    button:hover{
      transform: scale(1.1);
      outline: none;
    }
    button:active{
      transform: translateY(4px) scale(1.1);
      outline: none;
    }
  }

}


@keyframes header-text {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

nav {
  height: 10vh;
  background: white;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  .logo-container{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    .logo-box{
      height: 3rem;
      width: 3rem;
      overflow: hidden;
      text-align: center;
      border-radius: 50%;
      img{
        width: 100% !important;
      }
    }
  }
  .menu-container{
    flex: 1;
    .nav-links {
      display: flex;
      list-style: none;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      ul{
        margin: 0;
        padding: 0;

      }
      li{
        position: relative;
        width: 7rem;
        text-align: center;
        padding: 10px 0;

      }
      li::after{
        position: absolute;
        content: "";
        width: 0;
        background-color: orangered;
        height: 3px;
        bottom: 0;
        right: 50%;
      }
      li::before{
        position: absolute;
        content: "";
        width: 0;
        background-color: #50078b;
        height: 3px;
        bottom: 0;
        left: 50%;

      }

      li:hover:before{
        width: 48%;
        left: 0;
        transition: all 0.4s ease-out;
        transform-style: revert;
      }

      li:hover:after{
        width: 48%;
        right: 0;
        transition: all 0.4s ease-out;

      }

      li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
      }

    }
  }

}

@include small-tab{
  nav{
    .menu-container{
      .nav-links{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        clip-path: circle(110px at 100% -5%);
        background-color: #5dc247;
        border: none;
        outline: none;
        z-index: 6000;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: all 1s ease-in-out;
        li{
          opacity: 0;
          transition: all 1s ease-in;
        }
        li a{
          color: white;
          font-size: 20px;
          text-align: left;
        }
      }
      .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 35px;
        position: fixed;
        z-index: 7000;
        top: 0;
        right: 35px;
        cursor: pointer;
        .line{
          background-color: white;
          width: 22px;
          height: 2px;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          transition: all 0.5s ease-in;
        }
        .line:nth-child(1){
          top: 30%;
        }
        .line:nth-child(3){
          top: 70%;
        }
      }
      .hamburger:hover .line
        {
          margin-bottom: 5px;
          transition: all .5s ease-in;
        }
      .hamburger.open{
        .line:nth-child(2){
          opacity: 0;
        }
        .line:nth-child(1), .line:nth-child(3){
          top: 50%;
        }
        .line:nth-child(1){
          transform: rotate(45deg);
          transform-origin: 30% -13px;
        }
        .line:nth-child(3){
          transform: rotate(135deg);
          transform-origin: 5px -2px;
        }
      }
      .nav-links.open{
        clip-path: circle(1000px at 100% -5%);
        transition: all 1s ease-in-out;
        li{
          opacity: 1;
        }
      }
    }
  }
  .header{
    .header-carousel {
      height: 50vh;
      #wbn-slider{
        height: 50vh;
      }
      .wbn-slide {
        height: 50vh
      }
    }
    .header-text{
      h1{
        font-size: 3rem;
      }
      button{
        font-size: 1rem;

      }
    }
  }
  .introduction{
    .img-box{
      min-height: 25rem;
      .first{
        top: 60%;
      }
      .third{
        top: 40%;
      }
    }
  }
  .sectors{
    padding: 8% 5%;
    .row{
      grid-template-columns: 50% 50%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  .our-team{
    .row{
      padding: 0 5%;
    }
    .number-row{
      grid-template-columns: 50% 50%;
      grid-row-gap: 10px;

      p{
        font-size: 1.6rem;
      }
      p:nth-child(1){
        border-right: 2px solid white;
      }
      p:nth-child(2){
        border-right: 2px solid white;
      }
      p:nth-child(3){
        border-left: 2px solid white;
        border-right: 2px solid white;
      }
    }
  }
}

@include large-phone{
  .header{
    .header-carousel {
      height: 40vh;
      #wbn-slider{
        height: 40vh;
      }
      .wbn-slide {
        height: 40vh
      }
    }
    .header-text{
      h1{
        font-size: 1.5rem;
      }
    }
  }
  .introduction{
    margin-top: 15%;
    .row:nth-child(2){
      .text-box{
        padding: 7% 2%;
      }
    }

    .img-box{
      min-height: 20rem;
      .img-container{
        width: 70%;
        height: 15rem;
      }
      .first, .second, .third{
        top: 50%;
        z-index: 1;
      }
      .second{
        z-index: 3;
        height: 16rem;
        transform: translate(-50%, -50%) scale(1.2);
        top: 47%;
        left: 50%;
      }

    }
  }
  .sectors{
    .sectors{
      padding: 10% 5%;
    }
    .row{
      grid-template-columns: 90%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}

@include mid-phone{
  .header{
    .header-carousel {
      height: 40vh;
      #wbn-slider{
        height: 40vh;
      }
      .wbn-slide {
        height: 40vh
      }
    }
    .header-text{
      h1{
        font-size: 1.3rem;
      }
    }
  }
  .introduction{
    .img-box{
      min-height: 17rem;

    }
  }

}



#form {
  display:block;
}



.form-group {
  margin-bottom: 1rem;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border: 1px solid #313131;
}

textarea.form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-lg, .btn-group-lg>.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
}

.sectors .card h4 {
  color: #50c240;
}
.sectors .card-logo-container {
  background-color: #50c240;
}
.sectors .section-header h2 {
color: #50c240;
}
.sectors .card p {
  color: #e1e1e1;
}
.sectors .section-header p {
color: #e1e1e1;
}

footer{
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1a1e41;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #1a1e41;
  padding-bottom: 0;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #50c240;
  background-color: #1a1e41;
  
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #50c240;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-bottom{
  background:#50c240;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 16px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-title-p{
  font-size: 15px;
}