
@mixin display-flex{
  display: flex;
}

@mixin row-flex{
  display: flex;
  flex-direction: row;
}

@mixin column-flex{
  display: flex;
  flex-direction: column;
}

@mixin justify-center{
  justify-content: center;
}

@mixin justify-space-between{
  justify-content: space-between;
}

@mixin align-center{
  align-items: center;
}

@mixin flex-1{
  flex: 1;
}

@mixin flex-2{
  flex: 2;
}

@mixin flex-3{
  flex: 3;
}

@mixin large-screen{
  @media screen and (max-width: 1920px){
    @content
  }
}

@mixin laptop{
  @media screen and (max-width: 1200px){
    @content
  }
}

@mixin tablet{
  @media screen and (max-width: 992px){
    @content
  }
}

@mixin small-tab{
  @media screen and (max-width: 768px){
    @content
  }
}

@mixin large-phone{
  @media screen and (max-width: 425px){
    @content
  }
}

@mixin mid-phone{
  @media screen and (max-width: 375px){
    @content
  }
}

@mixin sml-phone{
  @media screen and (max-width: 320px){
    @content
  }
}